* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* header css start */
header {
	position: sticky;
	z-index: 999;
}

.navbar {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	transition: all 0.5s;
	text-transform: uppercase;
}

.navbar-brand img {
	width: 50px;
}

nav ul li a:hover {
	color: black;
	font-weight: 600;
}
/* login-signup-add page css start */
.login-bg {
	background-image: url("");
	background-size: cover;
	height: 100vh;
}

.signup-bg {
	background-image: url("");
	background-size: cover;
	height: 100vh;
}

.add-bg {
	background-image: url("");
	background-size: cover;
	height: 100vh;
}
.form-box {
	min-height: 100vh;
	justify-content: center;
	display: flex;
}

.form-box img {
	width: 50px;
	height: 50px;
}
/* product css start */
#box {
	display: flex;
	flex-wrap: wrap;
	padding: 18px;
}
.box1 {
	width: 23%;
	margin: 12px;
	padding: 8px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.514);
	transition: all 0.7s;
	text-align: center;
}
/* cart css start */
.table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-transform: uppercase;
	border-radius: 20px;
}
/* footer css start */
footer {

	padding-top: 30px;
	padding-bottom: 10px;
}

footer h2 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 7px;
}

.footer-box p {
	padding: 25px 0;
	font-size: 14px;
	letter-spacing: 1px;
}

.footer-box .icon i {
	width: 38px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #5d5e8d;
	border-radius: 100%;
	margin-right: 10px;
	text-align: center;
	transition: all 0.7s;
	cursor: pointer;
}

.footer-box .icon i:hover {
	background-color: #5d5e8d;
}

.footer-box2 {
	margin: -8px 0;
	padding: 0 30px;
}

.footer-box2 h2 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 7px;
}

.footer-box2 ul li {
	padding: 7px 0;
	font-size: 14px;
	font-weight: 400;
}

.footer-box2 i {
	font-size: 14px;
}

.footer-box3 {
	margin: -8px 0;
	padding: 0 30px;
}

.footer-box3 h2 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 7px;
}

.footer-box3 ul li {
	padding: 7px 0;
	font-size: 14px;
	font-weight: 500;
}

.footer-box4 {
	padding: 0 30px;
}

.footer-box4 h2 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 7px;
}

.footer-box4 .gallery img {
	padding: 0;
	transition: all 0.3s;
	transition-duration: 500ms;
}

.footer-box4 .col-4 {
	padding: 5px;
}

.footer-box4 .footer-img-box {
	border-radius: 10px;
	overflow: hidden;
	height: 60px;
}

.border-bottom {
	padding-bottom: 30px;
	border-bottom: 1px solid #5d5e8d;
}

.copyright p {
	font-size: 14px;
	text-align: center;
}

.copyright {
	padding-top: 30px;
}

footer .padding-100 {
	padding-bottom: -100px;
}